@model LiftingWeight.Models.ExerciseProgressViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LiftingProgress</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiftingProgress.WorkoutDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiftingProgress.WorkoutDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiftingProgress.WeightUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiftingProgress.WeightUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiftingProgress.Repititions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiftingProgress.Repititions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exercises.ExerciseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exercises.ExerciseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LiftingProgress.ProgressId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
