@model IEnumerable<LiftingWeight.Models.LiftingProgress>


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeightUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repititions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercise.ExerciseName)
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repititions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.ExerciseName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProgressId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProgressId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProgressId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
