@model IEnumerable<LiftingWeight.Models.Exercises>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <h1>@ViewData["Title"].</h1>
    <h1>@ViewData["LastExercise"]</h1>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineOrFree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetedMuscle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymOrHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Current)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineOrFree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetedMuscle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GymOrHome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Current)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExerciseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExerciseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExerciseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
